<app-header title="Inicio Pasajero"></app-header>

<ion-content>


    <ion-grid>
        <ion-row justify-content-end align-items-center>
            <!-- Card para ver ruta -->
            <ion-col size="6">
                <ion-card class="custom-card">
                    <ion-card-header>
                        <ion-card-title>ver rutas</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <br>
                        <ion-button routerLink="/main/ver-rutas" expand="full"><ion-icon
                                name="map-outline"></ion-icon></ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <!-- Card para ver viajes programados -->
            <ion-col size="6">
                <ion-card class="custom-card">
                    <ion-card-header>
                        <ion-card-title>Viaje programado</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-button routerLink="/main/viaje-programado" expand="full"><ion-icon
                                name="time-outline"></ion-icon></ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>