/* Estilos CSS personalizados para los input */
.custom-input-style {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
